* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
  }
  
  .Login{
    background-color: blue;
    display: flex;  
    margin: 0% auto;
    height: 650px;
  }
  
  .div-fundo-login-1 {
    background-color: #539CCF; 
    height: 650px;
    width: 60%;
    margin: 0% auto;
    display: grid;
  }
  
  .div-fundo-login-1 img {
    max-width: 80%;
    margin-left: 160px;
    margin-top: 10%;
  }
  
  .div-fundo-login-2 {
    background-color: #539CCF;
    height: 650px;
    width: 40%;
    margin: 0% auto;
    display: flex;
  }
  
  .div-login {
    background-color: white;
    border-radius: 20px;
    height: 650px;
    width: 540px;
  }
  
  .div-login h1 {
    text-align: center;
    margin-top: 100px;
  }
  
  .form-login {
    margin-top: 100px;
    margin-left: 150px;
    width: 60%;
  }
  
  .form-login button {
    margin-top: 20px;
    width: 203PX;
    height: 47px;
    border: 2px;
    border-radius: 15px;
    background-color:#22272b;
    color: white;
    font-size: 1.20em;
  }