.class-btn-large {
    margin: 2%;
    text-align: center;
}

.category-btn {
    margin-left: 1%;
    background-color: #539CCF;
    margin-top: 2%;
}

.text-prod-em-alta {
    text-align: center;
    margin-top: 4%;
}